src/main/mule/get-excel-invoice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<flow name="get-excel-invoiceFlow" doc:id="631124a3-c9c2-4429-be17-8f760a9c6059" >
		<file:listener doc:name="On New or Updated File" doc:id="a9b9a2e7-d96b-42e7-8c01-b183f280e41c" directory="/Users/djuang/Workspaces/seven-fifteen/get-excel-invoice/src/main/resources/in" moveToDirectory="/Users/djuang/Workspaces/seven-fifteen/get-excel-invoice/src/main/resources/out">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="01e03a40-0712-4047-96c9-478fc4d9e342" />
		<java:invoke-static method="GetCellValue(java.lang.String,java.lang.Integer,java.io.InputStream)" doc:name="Invoke static" doc:id="b08774b5-5f09-43d1-97f3-d2fa92dc1f16" class="com.dejim.XLSXUtility">
			<java:args ><![CDATA[#[output application/java
---
{
	arg0: "F",
	arg1: 5,
	arg2: payload
}]]]></java:args>
		</java:invoke-static>
		<logger level="INFO" doc:name="Logger" doc:id="c39c5abe-0cb7-4e83-944e-c4c7580286ff" message="#[payload]"/>
	</flow>
</mule>
